<div>
  <div>
    <fieldset>
      <legend>Attribute</legend>
      <div>
        <div>
          <app-attribute-table headline="Primärattribute" [values]="primaryDataSource" [dataColumns]="dataColumns"
                               (onAttributeIncrement)="incrementAttribute($event)"
                               (onAttributeDecrement)="decrementAttribute($event)"></app-attribute-table>
        </div>
      </div>
      <div>
        <div>
          <app-attribute-table headline="Sekundärattribute" [values]="secondaryDataSource" [dataColumns]="dataColumns"
                               (onAttributeIncrement)="incrementAttribute($event)"
                               (onAttributeDecrement)="decrementAttribute($event)"></app-attribute-table>
        </div>
      </div>

      <div class="kosten">GP-Kosten Bereich: {{ attributesTotalCosts$ | async }}</div>
    </fieldset>
  </div>
</div>

