<label>Powerlevel</label>
<select *ngIf="powerlevels$ | async as values" id="powerlevel" name="powerlevel" (ngModelChange)="powerlevelChanged($event)"
        [(ngModel)]="currentPowerlevel">
  <option *ngFor="let value of values" [ngValue]="value.id">
    {{ value.name }}
  </option>
</select>


<!--<mat-select *ngIf="powerlevels$ | async as values" id="powerlevel" name="powerlevel" (ngModelChange)="powerlevelChanged($event)"-->
            <!--[(ngModel)]="currentPowerlevel">-->
  <!--<mat-option *ngFor="let value of values" [value]="value.id">-->
    <!--{{ value.name }}-->
  <!--</mat-option>-->
<!--</mat-select>-->
