<div class="bob">
  <div><fieldset>
    <legend>Biologische Abnormitäten</legend>
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>
          ID
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{ row.id }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>
          Name
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{ row.name }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="kosten">
        <mat-header-cell *matHeaderCellDef>
          Kosten
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{ row.kosten }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="wert">
        <mat-header-cell *matHeaderCellDef>
          Switch
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div class="mdc-switch">
            <div class="mdc-switch__track"></div>
            <div class="mdc-switch__thumb-underlay">
              <div class="mdc-switch__thumb">
                <input type="checkbox" id="basic-switch" class="mdc-switch__native-control" role="switch">
              </div>
            </div>
          </div>
          <label for="basic-switch">off/on</label>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="dataColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: dataColumns;"></mat-row>
    </mat-table>

    <div class="kosten">GP-Kosten Bereich: {{ abnormitaetenTotalCosts$ | async }}</div>
  </fieldset></div>
</div>
