<div class="bob">
  <div><fieldset>
    <legend>Biologische Abnormitäten</legend>
    <mat-form-field>
      <mat-label>Biologische Abnormitäten</mat-label>
      <mat-select [(ngModel)]="selectedAbnormitaet" name="Abnormitaet" (selectionChange)="selectAbnormitaet($event.value)">
        <mat-option *ngFor="let abnormitaet of abnormitaeten" [value]="abnormitaet.id">
          {{abnormitaet.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-table [dataSource]="values">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>
          ID
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{ row.id }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>
          Name
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{ row.name }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="kosten">
        <mat-header-cell *matHeaderCellDef>
          Kosten
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{ row.kosten }}
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="dataColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: dataColumns;"></mat-row>
    </mat-table>

    <div class="kosten">GP-Kosten Bereich: {{ abnormitaetenTotalCosts$ | async }}</div>
  </fieldset></div>
</div>
