<!--<app-header></app-header>-->

<button class="mat-button" type="button" mat-button (click)="sidenav.open()">Menü</button>
<mat-sidenav-container class="main-container">
  <mat-sidenav #sidenav class="main-sidenav">
    <div>
      <ul>
        <li><a routerLink="/">Übersicht</a></li>
        <li><a routerLink="/attribute">Attribute</a></li>
        <li><a routerLink="/ability">Fertigkeiten</a></li>
      </ul>
    </div>
  </mat-sidenav>

  <div>
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>



