<div>
  <form class="char-details-input">
    <mat-form-field class="char-details-input-full-width">
      <input matInput placeholder="Charaktername" value="" type="text">
    </mat-form-field>
  </form>
  <form class="char-details-input">
    <mat-form-field class="char-details-input-full-width">
      <input matInput placeholder="Geschlecht" value="" type="text">
    </mat-form-field>
  </form>
  <form class="char-details-input">
    <mat-form-field class="char-details-input-full-width">
      <input matInput placeholder="Alter" value="" type="number">
    </mat-form-field>
  </form>
</div>
